<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/icon/click.png" style="width: 22px">
      <!-- <ion-label>Web</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/icon/comment.png" style="width: 22px">
      <!-- <ion-label>Feedbacks</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/books.png" style="width: 22px">
      <!-- <ion-label>Bookings</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
